source https://api.nuget.org/v3/index.json
framework: netcoreapp3.1, netstandard2.0

nuget McMaster.NETCore.Plugins
nuget FSharp.Core
nuget Fake.Core.ReleaseNotes
nuget Fake.Core.Target
nuget Fake.DotNet.Cli
    // support netstandard2.0
    nuget Microsoft.Build < 16
    nuget Microsoft.Build.Framework < 16
    nuget Microsoft.Build.Tasks.Core < 16
    nuget Microsoft.Build.Utilities.Core < 16
nuget Fake.IO.FileSystem
nuget Thoth.Json.Net
nuget Paket.Core
// azure app service
    nuget Fake.Core.Environment
    nuget Fake.Core.Trace
    nuget Fake.IO.Zip
    github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs
    nuget Microsoft.Azure.Management.ResourceManager.Fluent 1.4.1
    
    nuget Microsoft.ApplicationInsights.AspNetCore
    nuget Microsoft.AspNetCore.Authentication.JwtBearer 3.0.2 // pin for netstandard
    nuget WindowsAzure.Storage

//server
    nuget FSharp.Core
    nuget Saturn
    nuget Thoth.Json.Giraffe

    nuget Fable.Remoting.Giraffe

//client
    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
    nuget Thoth.Fetch ~> 1
    nuget Fable.React ~> 5

    nuget Fable.Remoting.Client

group Build
    framework: netstandard2.0
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git
