source https://api.nuget.org/v3/index.json
framework: netcoreapp3.0, netstandard2.0

nuget McMaster.NETCore.Plugins
nuget FSharp.Core
nuget Fake.Core.ReleaseNotes
nuget Fake.Core.Target
nuget Fake.DotNet.Cli
    // support netstandard2.0
    nuget Microsoft.Build < 16
    nuget Microsoft.Build.Framework < 16
    nuget Microsoft.Build.Tasks.Core < 16
    nuget Microsoft.Build.Utilities.Core < 16
nuget Fake.IO.FileSystem
nuget Thoth.Json.Net
nuget Paket.Core
// azure app service
    nuget Fake.Core.Environment
    nuget Fake.Core.Trace
    nuget Fake.IO.Zip
    github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs
    nuget Microsoft.Azure.Management.ResourceManager.Fluent 1.4.1

group Build
    framework: netstandard2.0
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git
